{
  "singleQuote": true,
  "semi": true,
  "useTabs": false,
  "tabWidth": 2,
  "trailingComma": "all",
  "printWidth": 120,
  "arrowParens": "always",
  "jsxSingleQuote": false,
  "orderedImports": true,
  "importOrder": [
    "^(\\.|\\.\\.)/(.(?!.(css|scss)))*$",
    "\\.(css|scss)$",
    "^react",
    "^next",
    "<THIRD_PARTY_MODULES>",
    "@/app/.*$",
    "@/assets/.*$",
    "@/components/.*$",
    "@/hooks/.*$",
    "@/lib/.*$",
    "@/providers/.*$",
    "@/services/.*$",
    "@/stores/.*$",
    "@/types/.*$"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderCaseInsensitive": true,
  "tailwindPreserveWhitespace": false,
  "plugins": ["@trivago/prettier-plugin-sort-imports", "prettier-plugin-tailwindcss"]
}
