{
  "singleQuote": true,
  "semi": true,
  "useTabs": false,
  "tabWidth": 2,
  "trailingComma": "all",
  "printWidth": 120,
  "arrowParens": "always",
  "jsxSingleQuote": false,
  "orderedImports": true,
  "importOrder": ["^(\\.|\\.\\.)/(.(?!.(css|scss)))*$", "\\.(css|scss)$", "^react", "<THIRD_PARTY_MODULES>", "@/.*$"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderCaseInsensitive": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports"]
}
